@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");



body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }




* {
    box-sizing: border-box;
}

.navbar-margin{
    margin-left: 200px;
    margin-right: 200px;
}
.navbar-card{
    padding: 25px;
    border-radius: 10px;
}
.navbar-text-design{
    font-size: 18px;
    
    font-weight: 520;
    color: #000000 !important;
    font-family: sans-serif !important;
    border-color:#000000;
}
.navbar-text-design:hover{
    color: #03bcff !important;
    text-shadow: #03bcff !important;
    
}


.headline-card{
    
    margin-top: 100px;
   
}
.cbt-text{
    font-weight: 800;
    color: #00d5ff;
    font-family: 'Roboto';
    font-style: italic;
}

@tailwind base;
@tailwind components;
@tailwind utilities;